body {
    font-family: Arial, sans-serif;
    background-color: #2c353c;  
    color: #f1f1f1; 
    margin: 0;
    padding: 0;
  }
  
  section.form {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    flex-wrap: wrap;
  }
  
  .form-container {
    width: 40%;
    padding: 20px;
    border: 1px solid #444; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    background-color: #3d4752; 
    color: #f1f1f1; 
    height: 520px;
    overflow: hidden;
  }
  
  .form-container h2 {
    margin-bottom: 20px;
    color: #f1f1f1; 
  }
  
  .form-container input {
    background-color: #4f5b64; 
    color: #f1f1f1; 
    border: 1px solid #555;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .form-container input:focus {
    outline: none;
    border-color: #dc3545;
  }

  .precio {
    margin: 0;
  }

  .form-btn {
    margin-top: 0;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 55%;
    background-color: #2c353c; 
    padding: 20px;
    padding-top: 0;
    border-radius: 8px;
  }
  
  .card {
    border: 1px solid #444; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    padding: 15px;
    background-color: #3d4752; 
    color: #f1f1f1; 
    transition: transform 0.3s ease;
    position: relative;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card h5 {
    margin-bottom: 15px;
    color: #f1f1f1; 
  }
  
  .card p {
    margin-bottom: 10px;
  }
  
  .card p strong {
    color: #9e9596; 
  }
  
  .btn-delete {
    background: transparent; 
    color: #dc3545; 
    border: none; 
    position: absolute; 
    top: 10px; 
    right: 10px; 
    cursor: pointer;
    font-size: 20px; 
    transition: color 0.3s ease;
  }
  
  .btn-delete:hover {
    color: #c82333; 
  }
  
  .btn-delete i {
    margin: 0;
  }

  